/**
 * Adjust the app for touch devices.
 */
#app[touch="true"] {

  main#view {

    .view-content {
      margin-right: 0;

      &.has-fixed-header {
        height: calc(100vh - var(--playback-controls-height));
        margin-top: 0;

        header {
          position: static;
        }
      }
    }
  }
}

/**
 * Touch devices up to iPad Pro size.
 */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  #app[touch="true"] {
    
    #nav-pillar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 3;
      transform: translateX(-100%);
    }

    #view-pillar {
      width: 100%;
    }
  }


}